body,
html {
  overflow-x:hidden;
  margin: 0;
  width: 100vw;
  box-sizing: border-box;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  scroll-behavior: smooth;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --primary-bg-color: #26a69a;
  --secondary-bg-color: #ffca28;
  --primary-text-color: #fff;
  --secondary-text-color: #000;
}